@CHARSET "ISO-8859-1";
.topDiv {
	background-color: #10427F;
	height: 12vh;
	width:100%;
	position:fixed;
	
	
}
.topDiv img {
	padding-top: 1%;
	padding-left: 14%;
	width: 18%;
	height: 65%;
	
}
.topDiv .buttonBar{
	float: right;
	padding-top: 1%;
	padding-right: 11%;

}
.topDiv button {
 
	margin: 5px;
	background-color: #10427F;
	border: none;
	color: #B7B7B1;
	font-size: 14px;
	padding: 9px 15px
	
}
.bgimg {
    background-image: url('../images/bg4.jpg');
    width: 100%;
    height          : 90vh;    
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% ; 
  
}
body{
  margin:0;
  background-color: #F5F5F5;
}
.divBar{
	
	text-align: center;
	margin-top:-5%;
	

}
.divBar .divBarDiv{
	width: 22%; 
	height:40%;
	margin: 8px;
	border: 2.5px solid #A1A1A1;
	border-radius: 5px;
	display: inline-block;
	text-align:left;
	line-height: 200%;
	padding: 20px 20px 60px 20px;
	
}
 .firstSpan{
	font-weight:bold;
	
}

.lastDivBar{
	text-align: center;
	margin-top:1%;
	

}
.lastDiv {
	width: 82%; 
	margin: 8px;
	border: 2.5px solid #A1A1A1;
	border-radius: 5px;
	display: inline-block;
	text-align:center;
	line-height: 200%;
	padding: 20px 20px 20px 20px;

}

.lastDiv button{
	background-color: #F1592A;
	color: white;
	font-size: 14px;
	padding: 8px 14px;
	border: none;
	border-radius: 5px;
	margin-top: 0.5%;
	cursor:pointer;
}


.buttonBar button:hover{
	color:#F5F5F5;
}
.buttonBar button:first-child{
background-color: #F1592A;
}

		 .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px -25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

 form{display:inline;}
